[flake8]
max-line-length = 120
ignore = E203, W503
per-file-ignores =
    core/strategy.py: E741,E731,F841
exclude =
    .venv,
    __pycache__,
    .git,
    .github,
    models,
    data,
    pipelines,
    jobs,
    core/ui_confidence.py,
    scripts/prepare_and_train.py,
    scripts/quick_train_st.py,
    scripts/backtest.py
